@model DealDouble.Entities.Auction
@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure to Delete @Model.Title Auction? </h2>
<form id="deleteForm" method="post" action="/Auctions/Delete">
    <input id="idField" type="hidden" name="ID" value="@Model.ID" />
    <button id="deleteBtn" type="button">Yes</button>   
</form>

<form method="get" action="/Auctions/">
    <button id="noBtn" type="button">No</button>
</form>

<script>
    $("#deleteBtn").click(function () {
        $.ajax({
            url: "/Auctions/Delete",
            method: "post",
            data: { ID: $("#idField").attr("value") }
        }).done(function (response) {
            $("#listingArea").html(response);
            })
          .fail(function () { })
    });

    $("#noBtn").click(function () {
        $.ajax({
            url: "/Auctions/",
            method: "get"
        }).done(function (response) {
            $("#listingArea").html(response);
        })
            .fail(function () { })
    });
</script>

